<div class="character-create__container">
  <h1 class="character-create__title">Criar Personagem</h1>
  <form
    [formGroup]="characterForm"
    (ngSubmit)="onSubmit()"
    class="character-create__form"
  >
    <div class="character-create__form-group">
      <label for="name" class="character-create__label">Nome:</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="character-create__input"
      />
      <div
        *ngIf="
          characterForm.get('name')?.invalid &&
          characterForm.get('name')?.touched
        "
        class="character-create__error"
      >
        <small>Nome é obrigatório.</small>
      </div>
    </div>

    <div class="character-create__form-group">
      <label for="image" class="character-create__label">Imagem (URL):</label>
      <input
        id="image"
        type="text"
        formControlName="image"
        class="character-create__input"
      />
      <div
        *ngIf="
          characterForm.get('image')?.invalid &&
          characterForm.get('image')?.touched
        "
        class="character-create__error"
      >
        <small>Imagem é obrigatória.</small>
      </div>
    </div>

    <div class="character-create__form-group">
      <label for="gender" class="character-create__label">Gênero:</label>
      <select
        id="gender"
        formControlName="gender"
        class="character-create__select"
      >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="undefined">Undefined</option>
      </select>
    </div>

    <div class="character-create__form-group">
      <label for="species" class="character-create__label">Espécie:</label>
      <input
        id="species"
        type="text"
        formControlName="species"
        class="character-create__input"
      />
      <div
        *ngIf="
          characterForm.get('species')?.invalid &&
          characterForm.get('species')?.touched
        "
        class="character-create__error"
      >
        <small>Espécie é obrigatória.</small>
      </div>
    </div>

    <div class="character-create__form-group">
      <label for="status" class="character-create__label">Status:</label>
      <select
        id="status"
        formControlName="status"
        class="character-create__select"
      >
        <option value="Alive">Alive</option>
        <option value="Dead">Dead</option>
      </select>
    </div>

    <button
      type="submit"
      [disabled]="characterForm.invalid"
      class="character-create__button"
    >
      Criar Personagem
    </button>
  </form>
</div>
