<h1>Atualizar Personagem</h1>
<h2 *ngIf="characterName">Nome: {{ characterName }}</h2>

<form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome:</label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="image">Imagem (URL):</label>
    <input id="image" type="text" formControlName="image" />
  </div>

  <div>
    <label for="gender">Gênero:</label>
    <select id="gender" formControlName="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="undefined">Undefined</option>
    </select>
  </div>

  <div>
    <label for="species">Espécie:</label>
    <input id="species" type="text" formControlName="species" />
  </div>

  <div>
    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="Alive">Alive</option>
      <option value="Dead">Dead</option>
    </select>
  </div>

  <button type="submit" [disabled]="characterForm.invalid">
    Atualizar Personagem
  </button>
</form>
